<div class="footer">
  <div class="container"> 
    <div class="footer-content">
      <div class="footer-links">
          <a href="https://www.instagram.com/mrik.b/" target="_blank"><i class="fab fa-instagram"></i></a>
          <!-- <a href="#"><i class="fab fa-youtube" target="_blank"></i></a> -->
          <a href="https://www.facebook.com/mrikbrg/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter" target="_blank"></i></a> -->
          <!-- <a href="#"><i class="fab fa-linkedin" target="_blank"></i></a> -->
          <!-- <a href="#"><i class="fab fa-tiktok" target="_blank"></i></a> -->
        </div>
        <div class="footer-copyright">
          Made with <i class="fas fa-heart"></i> by Kally B.
        </div>
    </div>
  </div>
</div>