.portfolio-cards {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 80%;
	justify-content: space-between;
}

.project-card {
	margin-bottom: 30px;
	.card-img-overlay {
		top: auto;
		visibility: hidden;
	}
	&:hover {
		.card-img-overlay {
		background-color: rgba(255,255,255,0.2);
		visibility: visible;
			h2 {
				font-size: 20px;
				font-family: 'Bebas Neue', cursive;
			}
			p {
				font-size: 14px;
			}
		}
	}
	.modal-dialog > img {
		margin: auto;
	}
}


@media (max-width: 1200px) {
	.portfolio-cards {
		justify-content: space-around;
	}
}

@media (max-width: 992px) {
	.portfolio-cards {
		justify-content: space-between;
	}
	.project-card, img {
		height: 300px;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.portfolio-cards {
		justify-content: center;
	}
	.project-card, img {
		height: 70vw;
		width: 70vw;
	}
}


