// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imprima&family=Shadows+Into+Light+Two&display=swap');

// Colors
$black: #0E0A06;
$red: #D92027;

// Default Settings
$backgroundColor: #ffffff;
$bodyColor: #0E0A06;
$bodyFont: 'Imprima', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.content {
	min-height: calc(100vh - 71px - 90px);
}

.about-content {
	padding: 30px 0;
}

.contact-content {
	padding: 60px 0 30px;
	text-align: center;
	h1 {
		font-family: 'Bebas Neue', cursive;
	}
	p {
		padding: 30px 0 15px;
	}
	button {
		font-family: 'Bebas Neue', cursive;
		font-size: 20px;
		color: white;
		border-color: $red;
		background-color: $red;
	}
	input, textarea {
		background-color: #F8FAFC;
		border-color: #828282;
	}
}

#about-img {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

// Import Component Stylesheet
@import 'banner';
@import 'navbar';
@import 'footer';

