// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imprima&family=Shadows+Into+Light+Two&display=swap');

// Colors
$black: #0E0A06;
$red: #D92027;

// Default Settings
$backgroundColor: #ffffff;
$bodyColor: #0E0A06;
$bodyFont: 'Imprima', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}
